.col-md-4{
	background-color:#f38;
}
.col-md-2{
	background-color:#978;
}
.col-md-3{
	background-color:#728;
}
.col-md-6{
	background-color:#03f;
}
.col-md-12{
	height:1000px;
	background-color:#58f;
}

